@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$c_blue:      #5AB9CF;
$c_yellow:    #FAB94E;
$c_orange:    #F04D32;
$c_dark:      #3B3F42;
$c_white:     #FEFEFE;

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  color: $c_dark;
  background: $c_white;
  font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Special Elite', cursive;
}

.placeHolder {
  font-size: 0;
}